<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/2fef8aa9a0.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body id="container">
    <%= render partial: 'layouts/navbar' %>

    <%= render partial: 'layouts/flash_messages' %>

    <%= yield %>
  </body>
</html>
