<div id="<%= dom_id event %>">
  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Attending:</strong>
    <% if user_signed_in? %>
      <% if @current_user_events.include? event %>
        Yes
        <%= button_to 'Stop attending', event_stop_attending_path(event), method: :delete %>
      <% else %>
        No
        <%= button_to 'Attend', event_attend_path(event), method: :post %>
        <% %>
      <% end %>
    <% else %>
      Log in to attend to the event
    <% end %>
  </p>

</div>
