<%= render @event %>

<h2>Attendees</h2>
<% @event.attendees.each do |attendee| %>
  <p><%= attendee.email %></p>
<% end %>

<br/>
<br/>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
