<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h3>
      <% if user_signed_in? %>
        <%= link_to "Profile", user_path(current_user) %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
      -
      <%= link_to "Events", events_path %> 
      <% if user_signed_in? %>
        <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
      <% end %>
    </h3>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <p><%= value %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
